:root{
    --fundo: #f8b4d6;
--cor-frente: 	#ca4dea;
--cor-verso: #7B68EE;
--destaque: #4169E1;
--preto: #000000;
--branco: #ffffff;

}

body{
    background-color: var(--fundo);
}

footer{
    position: absolute;
    bottom: 0;
    background-color: var(--preto);
    color: var(--branco);
    width: 100%;
    text-align: center;
}
